/* ↓↓↓ 以下属于less库文件去除标签默认样式 */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
p,
dl,
dd,
body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
input:focus {
  outline: none;
}
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
img {
  vertical-align: top;
  *border: none;
}
i {
  font-style: normal;
  display: block;
  cursor: pointer;
}
b {
  font-weight: normal;
}
em {
  font-style: normal;
}
small {
  font-size: 100%;
}
/* ↑↑↑ 以上属于less库文件去除标签默认样式 */
html {
  -webkit-animation: viewHeight 3.3s forwards;
  animation: viewHeight 3.3s forwards;
}
body {
  color: #1e1c24;
  font-family: "Montserrat", "Arial";
  -webkit-animation: viewHeight 3.3s forwards;
  animation: viewHeight 3.3s forwards;
}
@-webkit-keyframes viewHeight {
  0%,
  66% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    height: auto;
  }
}
@keyframes viewHeight {
  0%,
  66% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    height: auto;
  }
}
.homepage {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eff9f9), to(#fbf8f6));
  background: -webkit-linear-gradient(#eff9f9, #fbf8f6);
  background: -o-linear-gradient(#eff9f9, #fbf8f6);
  background: linear-gradient(#eff9f9, #fbf8f6);
  *filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EFF9F9, endColorstr=#FBF8F6);
}
.greet {
  position: relative;
  display: block;
  height: 160px;
  padding: 100px 0 0;
  text-align: center;
}
.hello {
  -webkit-animation: hello 2.2s forwards;
  animation: hello 2.2s forwards;
}
@-webkit-keyframes hello {
  0% {
    opacity: 0;
    -webkit-transform: translateY(128px);
    transform: translateY(128px);
  }
  40%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(48px);
    transform: translateY(48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes hello {
  0% {
    opacity: 0;
    -webkit-transform: translateY(128px);
    transform: translateY(128px);
  }
  40%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(48px);
    transform: translateY(48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.intro {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: intro 2.2s forwards;
  animation: intro 2.2s forwards;
}
@-webkit-keyframes intro {
  0%,
  4% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
  }
  44%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes intro {
  0%,
  4% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
  }
  44%,
  80% {
    opacity: 1;
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.hello,
.intro {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
}
.name-up,
.name-down {
  position: relative;
  height: 48px;
  overflow: hidden;
}
.name-up .name {
  -webkit-animation: nameUp 2.2s forwards;
  animation: nameUp 2.2s forwards;
}
@-webkit-keyframes nameUp {
  0%,
  80% {
    top: 48px;
  }
  100% {
    top: 0;
  }
}
@keyframes nameUp {
  0%,
  80% {
    top: 48px;
  }
  100% {
    top: 0;
  }
}
.name-down .name {
  -webkit-animation: nameDown 2.2s forwards;
  animation: nameDown 2.2s forwards;
}
@-webkit-keyframes nameDown {
  0%,
  80% {
    bottom: 48px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes nameDown {
  0%,
  80% {
    bottom: 48px;
  }
  100% {
    bottom: 0;
  }
}
.name {
  position: absolute;
  left: 0;
  right: 0;
  height: 96px;
  font-size: 90px;
  line-height: 96px;
  color: #90a6ef;
  font-weight: bold;
}
#board {
  display: block;
  width: 1200px;
  height: 1010px;
  margin: 0 auto;
}
#fish polygon {
  -webkit-transform: translate(-100px, 100px);
  -ms-transform: translate(-100px, 100px);
  transform: translate(-100px, 100px);
}
#fish .face {
  -webkit-animation: fishMove 1s 2.2s forwards;
  animation: fishMove 1s 2.2s forwards;
}
#fish .chest {
  -webkit-animation: fishMove 1s 2.5s forwards;
  animation: fishMove 1s 2.5s forwards;
}
#fish .belly {
  -webkit-animation: fishMove 1s 2.8s forwards;
  animation: fishMove 1s 2.8s forwards;
}
#fish .tail {
  -webkit-animation: fishMove 1s 3.1s forwards;
  animation: fishMove 1s 3.1s forwards;
}
@-webkit-keyframes fishMove {
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes fishMove {
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
#fish-color linearGradient stop {
  stop-opacity: 0;
}
#fish-color-face stop {
  -webkit-animation: fishColor 1s 2.2s forwards;
  animation: fishColor 1s 2.2s forwards;
}
#fish-color-face .deep {
  stop-color: #ff795a;
}
#fish-color-face .tint {
  stop-color: #ffcb8d;
}
#fish-color-chest stop {
  -webkit-animation: fishColor 1s 2.5s forwards;
  animation: fishColor 1s 2.5s forwards;
}
#fish-color-chest .deep {
  stop-color: #b878f4;
}
#fish-color-chest .tint {
  stop-color: #f490de;
}
#fish-color-belly stop {
  -webkit-animation: fishColor 1s 2.8s forwards;
  animation: fishColor 1s 2.8s forwards;
}
#fish-color-belly .deep {
  stop-color: #7076eb;
}
#fish-color-belly .tint {
  stop-color: #8fb1ff;
}
#fish-color-tail stop {
  -webkit-animation: fishColor 1s 3.1s forwards;
  animation: fishColor 1s 3.1s forwards;
}
#fish-color-tail .deep {
  stop-color: #019cff;
}
#fish-color-tail .tint {
  stop-color: #4bd3ff;
}
@-webkit-keyframes fishColor {
  100% {
    stop-opacity: 1;
  }
}
@keyframes fishColor {
  100% {
    stop-opacity: 1;
  }
}
#fish-color-face.select .deep,
#fish-color-chest.select .deep,
#fish-color-belly.select .deep,
#fish-color-tail.select .deep {
  stop-color: #07c1a0;
}
#fish-color-face.select .tint,
#fish-color-chest.select .tint,
#fish-color-belly.select .tint,
#fish-color-tail.select .tint {
  stop-color: #50f17a;
}
#fish-title text {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  fill: white;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  pointer-events: none;
}
#fish-subhead text {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  pointer-events: none;
}
#fish-subhead text.select {
  fill: #189a6f;
}
#fish-subhead .face {
  fill: #e06843;
  -webkit-animation: wordMove 0.8s 2.4s forwards;
  animation: wordMove 0.8s 2.4s forwards;
}
#fish-subhead .chest {
  fill: #905ab3;
  -webkit-animation: wordMove 0.8s 2.7s forwards;
  animation: wordMove 0.8s 2.7s forwards;
}
#fish-subhead .belly {
  fill: #5059a1;
  -webkit-animation: wordMove 0.8s 3s forwards;
  animation: wordMove 0.8s 3s forwards;
}
#fish-subhead .tail {
  fill: #1782c0;
  -webkit-animation: wordMove 0.8s 3.3s forwards;
  animation: wordMove 0.8s 3.3s forwards;
}
#fish-title .face {
  -webkit-animation: wordMove 0.8s 2.6s forwards;
  animation: wordMove 0.8s 2.6s forwards;
}
#fish-title .chest {
  -webkit-animation: wordMove 0.8s 2.9s forwards;
  animation: wordMove 0.8s 2.9s forwards;
}
#fish-title .belly {
  -webkit-animation: wordMove 0.8s 3.2s forwards;
  animation: wordMove 0.8s 3.2s forwards;
}
#fish-title .tail {
  -webkit-animation: wordMove 0.8s 3.5s forwards;
  animation: wordMove 0.8s 3.5s forwards;
}
@-webkit-keyframes wordMove {
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes wordMove {
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.information {
  padding-bottom: 66px;
  font-size: 0;
  text-align: center;
}
.contacts {
  display: inline-block;
  position: relative;
}
.portrait {
  position: absolute;
  top: 0;
  left: -112px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d8d8d8;
}
.portrait img {
  width: 88px;
}
.describe {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
}
.email {
  font-weight: bold;
}
.email a {
  color: inherit;
  display: inline;
}
.links {
  display: inline-block;
  padding-top: 4px;
}
.link {
  float: left;
  margin: 0 9px;
}
.link img {
  width: 24px;
  height: 24px;
}
.hide {
  display: none;
}

/*# sourceMappingURL=index.css.map */
